ul.breadcrumb
    li.breadcrumb-item
        a.breadcrumb-item__a.breadcrumb-item__a-first(href="#") DzagiGrow /
    li.breadcrumb-item
        a.breadcrumb-item__a(href="#") Блог /
    li.breadcrumb-item.breadcrumb-item__active Статья



