.city-you#city-you
    +icon('close', 'close-city')
    .city-you__text
        span Ваш город
        a.city-you__text-a Пермь
            span ?
    .city-you__btn
        button.btn-green.city-you__btn-green Да, верно
        button.btn-grey.city-you__btn-grey Выбрать другой
.city-choice#city-choice
    +icon('close', 'close-city')
    span.city-choice__span Выбор города
    span.city-choice__span-small Если вашего города нет - выберете ближайший
    form.city-choice__search
        input.city-choice__search-input#city__search(type="text")
        .city-choice__search-btn Ок

