.reviews-afore
    .reviews-afore__comment
        .reviews-afore__comment-name nalunin@icloud.com
        .reviews-afore__comment-box
            .reviews-afore__comment-star
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
            .reviews-afore__comment-date 25.09.2018
        .reviews-afore__comment-descr Пришло быстро все гуд)
    .reviews-afore__comment
        .reviews-afore__comment-name nalunin@icloud.com
        .reviews-afore__comment-box
            .reviews-afore__comment-star
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
            .reviews-afore__comment-date 25.09.2018
        .reviews-afore__comment-descr Пришло быстро все гуд)
    .reviews-afore__comment
        .reviews-afore__comment-name nalunin@icloud.com
        .reviews-afore__comment-box
            .reviews-afore__comment-star
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
            .reviews-afore__comment-date 25.09.2018
        .reviews-afore__comment-descr Пришло быстро все гуд)
    .reviews-afore__comment
        .reviews-afore__comment-name nalunin@icloud.com
        .reviews-afore__comment-box
            .reviews-afore__comment-star
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
                span.reviews-afore__comment-star-span ☆
            .reviews-afore__comment-date 25.09.2018
        .reviews-afore__comment-descr Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)Пришло быстро все гуд)