.saidbar-nav-media
    .saidbar-nav__border
        .saidbar-nav__item Все статьи
    .saidbar-nav__border
        .saidbar-nav__item Вентиляция и борьба с запахами
    .saidbar-nav__border
        .saidbar-nav__item Выращивание в земле
    .saidbar-nav__border
        .saidbar-nav__item Третий сезон: новый формат
    .saidbar-nav__border
        .saidbar-nav__item Выращивание на гидропонике
    .saidbar-nav__border
        .saidbar-nav__item Как собрать гроубокс
    .saidbar-nav__border
        .saidbar-nav__item Лечение и профилактика растений
    .saidbar-nav__border
        .saidbar-nav__item Освещение
    .saidbar-nav__border
        .saidbar-nav__item Растениеводство
    .saidbar-nav__border
        .saidbar-nav__item С чего начать
    .saidbar-nav__border
        .saidbar-nav__item Слово науке
    .saidbar-nav__border
        .saidbar-nav__item.saidbar-nav__item-last Удобрения