//подписаться

.container-fluid.subscribe-block
    .container.subscribe-block__cont
        object.icon-logo(type="image/svg+xml" data="static/img/general/logo.svg")
        .subscribe
            .subscribe__left Следите за полезными статьями и видео у нас в блоге
            form.subscribe__right
                .subscribe__right-sbc
                    input.subscribe__right-input(placeholder='Ваш почтовый адрес')
                    button.btn-subscribe Подписаться
                .subscribe__right-policy
                    input.subscribe__right-checkbox#checkbox_sbc(type='checkbox')
                    label(for='checkbox_sbc').subscribe__right-label Я согласен на обработку персональных данных,<br>а также с условиями подписки



