//поиск
@import "search/search.styl"

//popup
@import "popup/popup.styl"
@import "popup/city.styl"

// Шапка
@import 'header/header.styl'
@import "header/header-media.styl"

// Футера
@import 'footer/footer.styl'

//карусель
@import "slick/slick.styl"

//fancy-box
@import "fancy-box/fancy-box.styl"

// Навигация
@import 'navigation/navigation.styl'

//saidbar
@import "saidbar/right.styl"

//страницы
@import "page/page.styl"

//Кнопки
@import "buttons/buy.styl"
@import "buttons/subscribe.styl"
@import "buttons/more.styl"
@import "buttons/green.styl"
@import "buttons/up.styl"
@import "buttons/grey-without.styl"
@import "buttons/grey-all.styl"
@import "buttons/person.styl"

//Заголовки
@import "titles/titles.styl"

//Сетка товаров
@import "products-grid/products-grid.styl"

//отзывы
@import "reviews-afore/reviews-afore.styl"

//Иконка лого
@import "subscribe/subscribe.styl"

//Иконки
@import "icon/close.styl"
@import "icon/icon.styl"
@import "icon/social.styl"
@import "icon/arrow-point.styl"
@import "icon/basket.styl"
@import "icon/cancel.styl"
@import "icon/search.styl"
@import "icon/menu.styl"
@import "icon/logo.styl"
@import "icon/advantage.styl"
@import "icon/buy.styl"
@import "icon/up.styl"
@import "icon/controls.styl"
@import "icon/reg.styl"
@import "icon/cabinet.styl"

