extends ../layout/main

block variables
    - var title = 'Статья'
    - var pageClass = 'article-page'

block content

    .container-fluid
        .container.page
            include ../modules/breadcrumb
            .page-title Питер в Питере. Интервью консультанта Canna Питера Классена
            .article
                .article-left
                    .article-description
                        .article-description__a
                        .article-description__span C момента своего основания в начале 1990-х годов Canna жила научными исследованиями в растениеводстве. А ее научный работник Питер Классен сам принимал участие в создании формул удобрений компании. Теперь он путешествует по Европе и делится своими обширными знаниями по выращиванию и по применению продуктов Canna. 17 сентября он приезжал с семинаром к нам в Россию, в Санкт-Петербург. И мы не могли пропустить это событие!
                        img.article-description__img(src="static/img/content/dd.png" alt'' )
                        .article-description__span Мероприятие для гроверов прошло в ресторане Айвазовский с панорамным видом на Неву. Посетителей встречали милые девушки, которые как снегурочки в новый год одаривали каждого полезным мешочком с подарками. В них были таблицы применения по продукции Canna, фирменные ручки, блокноты и дождевики (дождливый Питер, как-никак!). Особенно порадовали буклеты со всеми слайдами лекций и местами под заметки.<br><br>
                        .article-description__span Семинар был хорошо организован: трансфер участников от Московского вокзала, хорошая еда, живая музыка. Но на мероприятии не было лишнего официоза, а было чувство, что собрались друзья. Canna показалось мало одарить участников в самом начале, и в перерывах между лекциями на «колесе фортуны» разыгрывались приятные мелочи.
                        img.article-description__img(src="static/img/content/dd.png" alt'' )
                        .article-description__span Семинар был хорошо организован: трансфер участников от Московского вокзала, хорошая еда, живая музыка. Но на мероприятии не было лишнего официоза, а было чувство, что собрались друзья. Canna показалось мало одарить участников в самом начале, и в перерывах между лекциями на «колесе фортуны» разыгрывались приятные мелочи.
                        .article-description__social
                            +icon('vk-color', 'social-color')
                            +icon('fb-color', 'social-color')
                            +icon('ggp-color', 'social-color')
                            +icon('tw-color', 'social-color')
                            +icon('tg-color', 'social-color')
                            +icon('vb-color', 'social-color')
                            +icon('en-color', 'social-color')
                            +icon('ok-color', 'social-color')
                    .article-promo__title Товары упоминающиеся в статье
                    .article-sbr__promo.article-promo
                        .products__teaser-item.article-sbr__promo-item
                            .ticket.article-ticket
                                .ticket__left
                                    .ticket-product
                                        img.ticket-product__img(src='static/img/content/growbox.png' alt='')
                                        .ticket-product__discount -15%
                                .ticket__right
                                    .ticket-header
                                        .ticket-header__text Pro Box
                                        .ticket-header__rating
                                            span.ticket-header__rating-span ☆
                                            span.ticket-header__rating-span ☆
                                            span.ticket-header__rating-span ☆
                                            span.ticket-header__rating-span ☆
                                            span.ticket-header__rating-span ☆
                                    .ticket-title Гроубокс 120-Apollo10
                                    .ticket-buy
                                        .ticket-buy__price
                                            .ticket-buy__price-old 590р
                                            .ticket-buy__price-new 450р
                                        .ticket-buy__btn
                                            button.btn-basket(href='javascript:void(0)')
                                                +icon('tick-inside')
                                                .ticket-buy__btn-text Купить
                        .products__teaser-item.article-sbr__promo-item
                            .ticket.article-ticket
                                .ticket__left
                                    .ticket-product
                                        img.ticket-product__img(src='static/img/content/growbox.png' alt='')
                                        .ticket-product__discount -15%
                                .ticket__right
                                    .ticket-header
                                        .ticket-header__text Pro Box
                                        .ticket-header__rating
                                            span.ticket-header__rating-span ☆
                                            span.ticket-header__rating-span ☆
                                            span.ticket-header__rating-span ☆
                                            span.ticket-header__rating-span ☆
                                            span.ticket-header__rating-span ☆
                                    .ticket-title Гроубокс 120-Apollo10
                                    .ticket-buy
                                        .ticket-buy__price
                                            .ticket-buy__price-old 590р
                                            .ticket-buy__price-new 450р
                                        .ticket-buy__btn
                                            button.btn-basket(href='javascript:void(0)')
                                                +icon('tick-inside')
                                                .ticket-buy__btn-text Купить
                    .article-art
                        .article-art__box
                            .article-art__box-left
                                +icon('arrow-left', 'arrow-art')
                                a.article-art__title(href="article.html") Предыдущая статья
                            .article-art__item(onclick="window.location='article.html';")
                                .article-art__item-box
                                    img.article-art__item-box-img(src="static/img/content/dd.png" alt'' )
                                    .article-art__item-box-date 24 августа 2018
                                .article-art__item-preview Питер в Питере. Интервью консультанта Canna Питера Классена
                        .article-art__box
                            .article-art__box-right
                                a.article-art__title(href="article.html") Следующая статья
                                +icon('arrow-right', 'arrow-art')
                            .article-art__item(onclick="window.location='article.html';")
                                .article-art__item-box
                                    img.article-art__item-box-img(src="static/img/content/dd.png" alt'')
                                    .article-art__item-box-date 24 августа 2018
                                .article-art__item-preview Питер в Питере. Интервью консультанта Canna Питера Классена
                    .article-reviews
                        .article-reviews__title Отзывы о статье
                        .article-reviews__login Чтобы оставлять комментарии вам необходимо <a class='article-reviews__login-a'>войти</a> под своим аккаунтом. Если вы еще<br>не зарегистрированы, то можете пройти <a class='article-reviews__login-a'>регистрацию</a>, которая займет всего пару минут.
                        .article-reviews__write
                            textarea.article-reviews__write-input(placeholder='Оставить комментарий')
                            .article-reviews__write-box
                                input.article-reviews__write-box-input(placeholder='Имя')
                                button.btn-green.article-reviews__write-box-btn Отправить
                        .article-reviews__comment
                            include ../modules/reviews-afore
                    .article-btn
                        button.btn-more Загрузить еще
                            +icon('arrow-point', 'arrow-point-more')
                .article-right
                    include ../modules/sidebar-right
                    .blog-sbc
                        p.blog-sbc__p Знания
                        span.blog-sbc__span Стань продвинутым гровером. Получай полезные статьи раз в две недели!
                        .blog-sbc__sbc
                            input.blog-sbc__sbc-input(placeholder='Ваш почтовый адрес')
                        .blog-sbc__policy
                            input.blog-sbc__policy-checkbox#checkbox_sbc(type='checkbox')
                            label(for='checkbox_sbc').blog-sbc__policy-label Я согласен на обработку персональных данных, а также с условиями подписки
                        button.btn-subscribe.blog-sbc__btn Подписаться
                    .article-sbr
                        .article-sbr__art
                            .article-sbr__art-title Товары упоминающиеся в статье
                            .article-sbr__art-content
                                .blog-article__item(onclick="window.location='article.html';")
                                    .blog-article__item-box
                                        img.blog-article__item-box-img(src="static/img/content/dd.png" alt'' )
                                        .blog-article__item-box-date 24 августа 2018
                                    .blog-article__item-preview Питер в Питере. Интервью консультанта Canna Питера Классена
                        .article-sbr__promo
                            .products__teaser-item.article-sbr__promo-item
                                .ticket.article-ticket
                                    .ticket__left
                                        .ticket-product
                                            img.ticket-product__img(src='static/img/content/growbox.png' alt='')
                                            .ticket-product__discount -15%
                                    .ticket__right
                                        .ticket-header
                                            .ticket-header__text Pro Box
                                            .ticket-header__rating
                                                span.ticket-header__rating-span ☆
                                                span.ticket-header__rating-span ☆
                                                span.ticket-header__rating-span ☆
                                                span.ticket-header__rating-span ☆
                                                span.ticket-header__rating-span ☆
                                        .ticket-title Гроубокс 120-Apollo10
                                        .ticket-buy
                                            .ticket-buy__price
                                                .ticket-buy__price-old 590р
                                                .ticket-buy__price-new 450р
                                            .ticket-buy__btn
                                                button.btn-basket(href='javascript:void(0)')
                                                    +icon('tick-inside')
                                                    .ticket-buy__btn-text Купить
                            .products__teaser-item.article-sbr__promo-item
                                .ticket.article-ticket
                                    .ticket__left
                                        .ticket-product
                                            img.ticket-product__img(src='static/img/content/growbox.png' alt='')
                                            .ticket-product__discount -15%
                                    .ticket__right
                                        .ticket-header
                                            .ticket-header__text Pro Box
                                            .ticket-header__rating
                                                span.ticket-header__rating-span ☆
                                                span.ticket-header__rating-span ☆
                                                span.ticket-header__rating-span ☆
                                                span.ticket-header__rating-span ☆
                                                span.ticket-header__rating-span ☆
                                        .ticket-title Гроубокс 120-Apollo10
                                        .ticket-buy
                                            .ticket-buy__price
                                                .ticket-buy__price-old 590р
                                                .ticket-buy__price-new 450р
                                            .ticket-buy__btn
                                                button.btn-basket(href='javascript:void(0)')
                                                    +icon('tick-inside')
                                                    .ticket-buy__btn-text Купить
    .container-fluid.blog-subscrube
        .container
            .blog-sbc
                .blog-sbc__right
                    p.blog-sbc__p Знания
                    span.blog-sbc__span Стань продвинутым гровером. Получай полезные статьи раз в две недели!
                .blog-sbc__left
                    .blog-sbc__sbc
                        input.blog-sbc__sbc-input(placeholder='Ваш почтовый адрес')
                    .blog-sbc__policy
                        input.blog-sbc__policy-checkbox#checkbox-blog__sbc(type='checkbox')
                        label(for='checkbox-blog__sbc').blog-sbc__policy-label Я согласен на обработку персональных данных, а также с условиями подписки
                    button.btn-subscribe.blog-sbc__btn Подписаться