extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include index/primary-block/teaser-phone
	include index/primary-block
	include index/advantage
	include index/hit
	include index/stock
	include index/subscribe_news
	include index/out
	include index/automatic
	include index/sub_reviews
	include index/about
	include index/partners