.search-def
  display flex
  width 100%

  &-input
    height 40px
    width 100%
    padding 10px 20px
    border-radius: 3px 0 0 3px
    border 1px solid greyDGdark

    &::placeholder
      color greyTextDG
      font-weight 500

