.btn-subscribe
  display flex
  align-items center
  color white
  border 1px solid redDG
  background-color redDG
  border-radius 2px
  font-weight bold
  justify-content center
  cursor pointer
  size (160px 45px)

  &:hover
    background-color redDGdark

  @media screen and (max-width tableWidth)
    display none

.btn-subscribe__small
  @extend .btn-subscribe
  display none
  width 100%

  @media screen and (max-width tableWidth)
    display flex
    margin-top 20px