.return__upload
  background-color rgba(0, 0, 0, 0.1)
  border none
  padding 7px 25px
  border-radius 4px
  color white
  font-size 0.625rem

  @media screen and (max-width tableWidth)
    padding 7px 15px