@font-face
  font-family HelveticaNeueCyr-Roman
  src url(../fonts/HelveticaNeueCyr-Roman.otf)

@font-face
  font-family HelveticaNeueCyr-Light
  src url(../fonts/HelveticaNeueCyr-Light.otf)

@font-face
  font-family HelveticaNeueCyr-Bold
  src url(../fonts/HelveticaNeueCyr-Bold.otf)

@font-face
  font-family HelveticaNeueCyr-BoldItalic
  src url(../fonts/HelveticaNeueCyr-BoldItalic.otf)

@font-face
  font-family HelveticaNeueCyr-Italic
  src url(../fonts/HelveticaNeueCyr-Italic.otf)

@font-face
  font-family HelveticaNeueCyr-LightItalic
  src url(../fonts/HelveticaNeueCyr-LightItalic.otf)

@font-face
  font-family HelveticaNeueCyr-Medium
  src url(../fonts/HelveticaNeueCyr-Medium.otf)

@font-face
  font-family HelveticaNeueCyr-Black
  src url(../fonts/HelveticaNeueCyr-Black.otf)

@font-face
  font-family HelveticaNeueCyr-BlackItalic
  src url(../fonts/HelveticaNeueCyr-BlackItalic.otf)

@font-face
  font-family HelveticaNeueCyr-Thin
  src url(../fonts/HelveticaNeueCyr-Thin.otf)

@font-face
  font-family HelveticaNeueCyr-ThinItalic
  src url(../fonts/HelveticaNeueCyr-ThinItalic.otf)

@font-face
  font-family HelveticaNeueCyr-UltraLight_0
  src url(../fonts/HelveticaNeueCyr-UltraLight_0.otf)

@font-face
  font-family HelveticaNeueCyr-UltraLightItalic
  src url(../fonts/HelveticaNeueCyr-UltraLightItalic.otf)