// ЦВЕТА

greyDG          = #f7f7f7
greyDGdark      = #dfdfdf
blackDG         = #20262c
yellowDG        = #ffea00
blueDG          = #e8f9ff
greenDG         = #00aa2e
greenDGdark     = #009b13
greenDGlight    = #eaf3ee
redDG           = #fe1f13
redDGdark       = #e70c00

// ЦВЕТА ТЕКСТ
blackTextDG     = #212121
greyTextDGdark  = #6f6f6f
greyTextDG      = #b8b8b8

// РАЗМЕРЫ
baseFontSize    = rem(14px)

desktopWidth      = 1330px
smalDesktopWidth  = 960px
tableWidth        = 768px
bigPhoneWidth     = 479px
smallPhoneWidth   = 319px

// ШРИФТЫ
HelveRoman            = HelveticaNeueCyr-Roman, Arial, sans-serif
HelveLight            = HelveticaNeueCyr-Light, Arial, sans-serif
HelveBold             = HelveticaNeueCyr-Bold, Arial, sans-serif
HelveBoldItalic       = HelveticaNeueCyr-BoldItalic, Arial, sans-serif
HelveItalic           = HelveticaNeueCyr-Italic, Arial, sans-serif
HelveLightItalic      = HelveticaNeueCyr-LightItalic, Arial, sans-serif
HelveMedium           = HelveticaNeueCyr-Medium, Arial, sans-serif
HelveBlack            = HelveticaNeueCyr-Black, Arial, sans-serif
HelveBlackItalic      = HelveticaNeueCyr-BlackItalic, Arial, sans-serif
HelveThin             = HelveticaNeueCyr-Thin, Arial, sans-serif
HelveThinItalic       = HelveticaNeueCyr-ThinItalic, Arial, sans-serif
HelveUltraLight_0     = HelveticaNeueCyr-UltraLight_0, Arial, sans-serif
HelveUltraLightItalic = HelveticaNeueCyr-UltraLightItalic, Arial, sans-serif

