.city-you
  @extend .popup
  padding 25px

  @media screen and (max-width smalDesktopWidth)
    right 50%

    @media screen and (max-width 600px)
      width 300px

      @media screen and (max-width bigPhoneWidth)
        width 200px

  &__text
    display flex
    font-size rem(24px)
    flex-wrap wrap
    justify-content center

    @media screen and (max-width bigPhoneWidth)
      font-size rem(14px)

    & span
      padding-right 5px

    &-a
      font-weight bold

  &__btn
    display flex
    padding-top 35px

    @media screen and (max-width 600px)
      flex-direction column
      align-items center
      padding-top 15px

    &-green
      width 125px
      margin-right 15px

      @media screen and (max-width 600px)
        margin-right 0
        margin-bottom 15px

.city-choice
  @extend .popup
  align-items baseline
  padding-left 38px
  padding-right 30px

  @media screen and (max-width smalDesktopWidth)
    right 50%

    @media screen and (max-width 600px)
      width 300px

      @media screen and (max-width bigPhoneWidth)
        width 200px
        padding 0 20px

  &__span
    font-size rem(24px)
    padding-bottom 10px

    @media screen and (max-width bigPhoneWidth)
      font-size rem(14px)

    &-small
      @media screen and (max-width bigPhoneWidth)
        font-size rem(12px)
        flex-wrap wrap

  &__search
    @extend .search-def
    max-width 330px
    padding-top 20px
    position relative

    &-input
      @extend .search-def-input

      @media screen and (max-width 600px)
        width 70%

    &-btn
      background greenDG
      color white
      border none
      cursor pointer
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 0 3px 3px 0;

.ui-menu
  z-index 2000
  max-width 500px

.ui-menu-item-wrapper:hover, .ui-menu-item-wrapper:focus, .ui-menu-item-wrapper:focus-within, .ui-menu-item-wrapper:active
  background greenDG
  border 1px solid greenDG

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover
  background greenDG
  border none
  border 1px solid greenDG
  color white
