//popup
.popup
  position (absolute 30px none none none)
  z-index 2000
  size (405px 180px)
  background-color white
  border-radius 3px
  display flex
  align-items center
  justify-content center
  flex-direction column
  box-shadow  0 0 10px rgba(0,0,0,0.1)