.checkout
  @extend .price-footer

  &__points
    width 849px

    @media screen and (max-width desktopWidth)
      width 100%

    &-block
      margin-bottom 15px

    &-item
      @extend .price-footer__discount-item
      background-color white
      position relative
      padding-top 20px
      padding-bottom 20px

      &-title
        @extend .price-footer__discount-title
        padding initial
        height auto
        min-height 80px

      &-descr
        font-weight bold

        &-a
          margin-left 10px
          font-weight normal

      &-box
        display flex
        justify-content space-between
        min-height 80px
        align-items start

      &-icon
        border 1px solid greenDG
        border-radius 30px
        padding 5px 10px
        position (absolute 42px 35px none none)
        cursor pointer

      &.opened .checkout__points-item-box
        display none

      &.opened .checkout__points-inside-box
        display block

    &-inside
      margin-bottom 30px
      font-size 0.875rem

      &-box
        display none



  &__total
    background-color white
    width 418px
    height 100%

    @media screen and (max-width desktopWidth)
      width 100%

    &-item
      @extend .price-footer__total-item

      &-info
        @extend .price-footer__total-info
        line-height inherit

        &-a
          @extend .price-footer__total-info-a

      &-last
        background-color blueDG
        color greenDG
        font-weight bold

        & .checkout__total-border
          flex-direction column
          justify-content center
          align-items flex-start
          border-top none

        & .checkout__total-item-info-a
          font-size 1.5rem

      &-first
        & .checkout__total-border
          border-top none

    &-border
      @extend .price-footer__total-border
      justify-content flex-start

  &__person
    display flex

    @media screen and (max-width tableWidth)
      flex-direction column

    &-form
      width 50%
      padding-right 30px

      @media screen and (max-width tableWidth)
        width 100%

      &-p
        &-box
          display flex

        &-red
          color: redDG

      &-input
        @extend .header-main__search-input
        margin 10px 0

      &-checkbox
        display none

        &:checked + label:before
          content: "\2713"
          font-size: 15px
          color: greenDG
          text-align: center
          line-height: 15px
          background-color white

        &-label
          font-size rem(12px)
          display: inline-block;
          cursor: pointer;
          position: relative;
          padding-left: 25px;
          margin-right: 15px;
          max-width 305px

          @media screen and (max-width tableWidth)
            margin-bottom 20px

          &:before
            content: ""
            display: inline-block
            size (15px)
            margin-right: 10px
            position(absolute, 1px, 0, 0, 0)
            background-color: white
            border-radius 2px
            border: 1px solid #dfdfdf;

    &-authorization
      width 50%

      @media screen and (max-width tableWidth)
        width 100%

      &-a
        color greenDG
        text-decoration underline

  &__city
    &-p
      &-box
        @extend .checkout__person-form-p-box

      &-red
        @extend .checkout__person-form-p-red
        margin-right 5px

    &-input
      @extend .checkout__person-form-input

  &__delivery
    &-button
      @extend .btn-more-width
      background-color transparent
      size (230px 40px)
      font-size 0.875rem
      margin-right 20px

      &-box
        display flex
        margin 20px 0 40px 0

      &-green
        @extend .btn-green
        size (155px 40px)

    &-post
      margin-bottom 20px

      &-box
        //

      &-title
        font-weight bold
        padding 20px 0

      &-item
        display flex
        justify-content space-between
        padding 5px 0

        &:hover
          background-color blueDG
          margin 0 -15px
          padding 5px 15px

        &-box
          display flex
          align-items center

          &:last-child
            flex-direction column
            justify-content center

            @media screen and (max-width tableWidth)
              margin-left 10px

            & a
              @media screen and (max-width tableWidth)
                text-align end
                width max-content

        &-checkbox
          @extend .checkout__person-form-checkbox

        &-label
          @extend .checkout__person-form-checkbox-label

          &:before
            top -6px

        &-img
          margin-right 10px
          size (100px 50px)

          &-box
            display flex
            align-items center

            @media screen and (max-width tableWidth)
              flex-direction column
              align-items start

  &__address
    &-form
      @extend .checkout__person-form
      width 100%

      @media screen and (max-width tableWidth)
        padding-right 0

      &-p
        &-box
          @extend .checkout__person-form-p-box

        &-red
          @extend .checkout__person-form-p-red

        &-block
          display flex
          flex-direction column

          & .checkout__address-form-input
            width 64px
            margin-right 20px

      &-error
        color redDG
        margin: 5px 0;

      &-block
        display flex

        @media screen and (max-width tableWidth)
          flex-wrap wrap

        &-message
          margin-top 30px

          & .checkout__address-form-input
            width 100%
            height 75px

      &-input
        @extend .checkout__person-form-input
        width 365px

        @media screen and (max-width tableWidth)
          width 100%

        &-last
          width 113px!important
          margin-right 0!important

  &__pay
    &-item
      @extend .checkout__delivery-post-item
      width 50%
      padding 10px 0

      @media screen and (max-width tableWidth)
        width 100%

      &:hover
        padding 10px 0
        margin 0
        background-color transparent

      &-block
        display flex
        flex-wrap wrap

      &-box
        display flex
        align-items center
        margin 5px 0

        &:last-child
          flex-direction inherit

          @media screen and (max-width tableWidth)
            margin-left 0

      &-checkbox
        @extend .checkout__person-form-checkbox

      &-label
        @extend .checkout__person-form-checkbox-label

      &-img
        @extend .checkout__delivery-post-item-img
        size (auto)
        margin 0

        &-box
          size (100px 50px)
          background-color blueDG
          display flex
          justify-content center
          align-items center
          margin-right 10px
          min-width 100px

  &__issue
    @extend .checkout__delivery-button-box
    display flex
    justify-content flex-end

    & .checkout__delivery-button-green
      white-space: nowrap;
      width 200px

    & .checkout__delivery-button
      font-size 100%

.error-input
  border: 1px solid redDG




