@import "index/primary-block.styl"
@import "index/advantage.styl"
@import "index/hit.styl"
@import "index/stock.styl"
@import "index/subscribe_news.styl"
@import "index/out.styl"
@import "index/automatic.styl"
@import "index/sub_reviews.styl"
@import "index/about.styl"
@import "index/partners.styl"