.price-category
  margin-bottom 20px
  font-size rem(18px)

  &__item
    border-bottom 1px solid greyDGdark

    &:last-child
      border none

    &:hover
      border-bottom 1px solid greenDG

      &:last-child
        border none

    &-title
      font-weight bold

    &-box
      background-color white
      padding 0 20px
      height 60px
      justify-content center
      align-items center
      display flex
      cursor pointer

      &:hover
        background-color greenDG
        color white

      &:hover .arrow-point-price
        fill white
        transform rotate(270deg)

.price-footer__discount-border.opened .price-footer__discount-inside
  display flex!important

.price-category__item-box.opened
  background-color greenDG
  color white

.price-category__item-box.opened .arrow-point-price
  fill white
  transform rotate(270deg)

.price-inside
  background-color white
  margin-bottom 20px
  display none

  &__menu
    display flex
    align-items center
    padding 10px 35px

    @media screen and (max-width smalDesktopWidth)
      padding 0 10px 10px 10px
      flex-wrap wrap

    &-item
      display flex
      border-right 1px solid greenDG
      size (170px 40px)
      align-items center
      justify-content center
      cursor pointer

      @media screen and (max-width smalDesktopWidth)
        margin-top 10px
        width 25%

        &:nth-child(5)
          border-left 1px solid greenDG

        @media screen and (max-width tableWidth)
          width 50%
          font-size rem(14px)

          &:nth-child(3)
            border-left 1px solid greenDG

      &:hover
        background-color greenDG
        color white

      &:first-child
        border-left 1px solid greenDG

  &__info
    &-row
      padding 0 35px
      border-top 1px solid greyDGdark
      display flex
      min-height 65px
      width 100%
      justify-content space-between
      align-items center

      @media screen and (max-width smalDesktopWidth)
        padding 0 10px
        min-height 105px

        @media screen and (max-width tableWidth)
          min-height 135px
          font-size rem(16px)

          @media screen and (max-width bigPhoneWidth)
            min-height 100px

      &-sign
        color greyTextDG

        @media screen and (max-width tableWidth)
          max-height 65px!important
          min-height 65px!important
          height 100%

    &-cell
      width 100%
      max-width 175px
      justify-content center
      display flex
      margin 5px 0

      &:first-child
        width 100%
        max-width 550px
        justify-content flex-start
        min-width 174px

        @media screen and (max-width tableWidth)
          max-width 175px
          min-width 85px

          @media screen and (max-width bigPhoneWidth)
            min-width 55px

      &-box
        display flex
        width 725px
        justify-content center

        @media screen and (max-width desktopWidth)
          width 510px

          @media screen and (max-width smalDesktopWidth)
            width 400px
            flex-direction column

            @media screen and (max-width tableWidth)
              width 250px

              @media screen and (max-width bigPhoneWidth)
                width 140px

      &-clean
        @media screen and (max-width smalDesktopWidth)
          display none

          @media screen and (max-width tableWidth)
            display flex

      &-atm
        max-width 200px

        @media screen and (max-width smalDesktopWidth)
          display none

      &-visible
        display none

        @media screen and (max-width smalDesktopWidth)
          display flex
          width 100%

        @media screen and (max-width tableWidth)
          display none

      &-value
        @media screen and (max-width tableWidth)
          display none

      &-cost
        display none

        @media screen and (max-width tableWidth)
          display flex
          justify-content flex-start

      &-symbol
        align-items center
        max-width 200px

        @media screen and (max-width tableWidth)
          justify-content flex-start
          display flex

      &-span
        display flex
        align-items center


.quantity-number
  width 50px
  height 40px
  border none
  text-align right

  @media screen and (max-width smalDesktopWidth)
    width 44px

    @media screen and (max-width bigPhoneWidth)
      width 35px
      height 30px
      font-size rem(12px)

  &__right
    @extend .quantity-number
    text-align left

  &__box
    border 1px solid greyDGdark
    display flex
    height: 42px

    @media screen and (max-width bigPhoneWidth)
      height: 32px;

  &__symbol
    display flex
    align-items center
    justify-content center
    size (42px)
    background-color greyDG
    border 1px solid greyDGdark
    border-radius 3px 0 0 3px
    cursor pointer

    &:hover
      background-color greyDGdark

    @media screen and (max-width bigPhoneWidth)
      size(32px)


.price-footer
  display flex
  justify-content space-between
  font-size rem(18px)
  flex-wrap wrap

  &__discount
    width 740px
    background-color white
    height 100%

    @media screen and (max-width desktopWidth)
      width 100%

    &-title
      height 80px
      display flex
      align-items center
      padding 0 35px
      font-weight bold
      font-size rem(24px)

      @media screen and (max-width bigPhoneWidth)
        padding 0 20px

    &-item
      padding 0 35px

      @media screen and (max-width bigPhoneWidth)
        padding 0 20px

      &-title
        font-weight bold

    &-border
      border-top 1px solid greyDGdark
      min-height 80px
      display flex
      align-items center
      justify-content space-between
      height 100%

    &-inside
      @extend .price-footer__discount-border
      border-top none
      padding-top 15px
      align-items flex-start
      display flex

      &-box
        display none

      &-a
        color greenDG
        text-decoration underline

      &-input
        size (100% 50px)
        padding 20px 15px
        border 1px solid greyDGdark
        margin-top -15px

    &-info
      background-color blueDG
      padding 40px 35px

      @media screen and (max-width bigPhoneWidth)
        padding 30px 20px

      &-span
        font-weight bold
        font-size rem(24px)

      &-a
        color greenDG

        @media screen and (max-width bigPhoneWidth)
          display flex

  &__total
    width 525px
    background-color white

    @media screen and (max-width desktopWidth)
      width 100%
      margin-top 20px

    &-title
      @extend .price-footer__discount-title

    &-item
      @extend .price-footer__discount-item

      &:last-child
        height 115px

    &-border
      @extend .price-footer__discount-border

    &-inside
      &-box
        display flex
        align-items center

      &-last
        color greenDG

    &-info
      line-height 53px
      font-weight bold
      padding-right 5px

      &-last
        line-height 21px

      &-a
        &-bonus
          color greenDG

        &-ttl
          font-weight bold
          font-size rem(24px)

    &-btn
      size (205px 55px)


.price-footer__discount-border.opened .arrow-point-price
  transform rotate(270deg)

.price-footer__discount-border.opened[style*="display: block"]
  display flex!important

