.warranty
  @extend .contacts
  line-height 24px

  &-title
    @extend .contacts__title

  &__descr
    @extend .contacts__descr

ul
  list-style none

.warabty-descr li
  margin-left 30px
  list-style-type disc