.breadcrumb
  display flex
  align-items center
  padding 15px 0 0 15px
  line-height 19px

  @media screen and (max-width bigPhoneWidth)
    padding-left 0

  &-item
    padding-right 5px
    font-weight bold

    &__a
      color greyTextDGdark

      &-first
        color greenDG

    &__active
      color greyTextDG