// Информация о магазине
.container-fluid
    .container.about
        .about-idea
            .about-idea__name Интернет-магазин гидропоники
                a.about-idea__name-a DzagiGrow
            .about-idea__sense Выращивать самим – дело благородное. Это занятие по-своему и опасно, и трудно. Но тем не менее число тех, кто раз и навсегда решил выращивать свои любимые растения у себя дома, увеличивается с каждым годом. Почему? Потому что это интересно!
        .about-inside-container
            .about-inside
                ul.about-inside__column
                    li.about-inside__item
                        .about-inside__item-head Гроушоп
                        .about-inside__item-indent DzagiGrow работает с 2006 года. Мы первый интернет-магазин прогрессивного растениеводства в России, кто открыл мир выращивания на дому. За 10 лет работы наша команда завоевала репутацию честного магазина с лучшей консультацией. Нам доверяют, и для нас это самое важное.
                    li.about-inside__item
                        .about-inside__item-head Наши партнеры
                        .about-inside__item-indent Мы поддерживаем отношения со своими партнерами, среди которых General Hydroponics Europe, Biobizz World Wild Organics, Hesi, Etisso, Valagro, Homebox, Secret Jardin, Soler&Palau, Phresh, Nano Filter, AquaPot, AutoPot, AZUD и лаборатория E-MODE PRO.
                ul.about-inside__column
                    li.about-inside__item
                        .about-inside__item-head Наш ассортимент
                        .about-inside__item-indent У нас вы можете купить оборудование для гидропоники, гроубоксы как готовые решения, гроутенты, гидропонные системы AquaPot и AutoPot. Удобрения для гидропоники GHE, Biobizz, Valagro, Hesi, Etisso и другое. Лампы для растений ДНАТ и ДРИЗ, ЭПРА, угольные фильтры, вентиляторы, таймеры. Системы климат-контроля, системы автоматического контроля освещения, полива и температуры, GrowBag, SmartPot и многое другое!
                    li.about-inside__item
                        .about-inside__item-head.inside__item-contents DzagiGrow
                        .about-inside__item-indent.inside__item-contents – это не просто магазин гидропонного оборудования! Мы каждый день воплощаем мечты в реальность, стремимся достигнуть максимального результата во всем, что делаем. Выращивайте с нами, друзья!
        .about-btn
            button.btn-green#open-btn Открыть

