.container-fluid
    .container.advantage-block
        .advantage-block-section
            .advantage
                .advantage-box
                    .advantage-box__content.advantage-box__content-first
                        +icon('product', 'advantage-icon')
                        span.advantage-box__content-span Самый полный выбор товара
                    .advantage-box__content
                        +icon('24-hours', 'advantage-icon')
                        span.advantage-box__content-span Мы реально отправляем заказ за 24 часа
                    .advantage-box__content
                        +icon('present', 'advantage-icon')
                        span.advantage-box__content-span У нас постоянно проводятся амбициозные акции
                    .advantage-box__content
                        +icon('ribbon', 'advantage-icon')
                        span.advantage-box__content-span Отличное качество всей предлагаемой продукции
                    .advantage-box__content
                        +icon('credit-card', 'advantage-icon')
                        span.advantage-box__content-span Возврат денег или обмен товара при наличии притензии
