// товары для автоматизации
.container-fluid
    .container.automatic-teaser
        .products_automatic
            .products_automatic__text
                .products_automatic__text-title Товары для автоматизации
                .products_automatic__text-all(href='javascript:void(0)') Все товары
            .products_automatic__teaser
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
                .products_automatic__teaser-item
                    .ticket_automatic
                        .ticket_automatic__left
                            .ticket_automatic-product
                                img.ticket_automatic-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_automatic-product__discount -15%
                        .ticket_automatic__right
                            .ticket_automatic-header
                                .ticket_automatic-header__text Pro Box
                                .ticket_automatic-header__rating
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                                    span.ticket_automatic-header__rating-span ☆
                            .ticket_automatic-title Гроубокс 120-Apollo10
                            .ticket_automatic-buy
                                .ticket_automatic-buy__price
                                    .ticket_automatic-buy__price-old 590р
                                    .ticket_automatic-buy__price-new 450р
                                .ticket_automatic-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_automatic-buy__btn-text Купить
            .products_automatic__more
                button.btn-more-width
                    .btn-more__text Загрузить еще
                    +icon ('arrow-point', 'arrow-point-more')