//hit
.container-fluid.hit-teaser
    .container
        .products-hit
            .products-hit__text
                .products-hit__text-title Хит продаж
                .products-hit__text-all(href='javascript:void(0)') Все товары
            .products-hit__box
                .products-hit_big__teaser
                    .ticket_hit_big
                        .ticket_hit_big-header
                            .ticket_hit_big-header__text Pro Box
                            .ticket_hit_big-header__rating
                                span.ticket_hit_big-header__rating-span ☆
                                span.ticket_hit_big-header__rating-span ☆
                                span.ticket_hit_big-header__rating-span ☆
                                span.ticket_hit_big-header__rating-span ☆
                                span.ticket_hit_big-header__rating-span ☆
                        .ticket_hit_big-title Гроубокс 120-Apollo10
                        .ticket_hit_big-product
                            img.ticket_hit_big-product__img(src='static/img/content/growbox.png' alt='')
                            .ticket_hit_big-product__discount -15%
                        .ticket_hit_big-buy
                            .ticket_hit_big-buy__price
                                .ticket_hit_big-buy__price-new 58 915р
                                .ticket_hit_big-buy__price-old 60 200р
                            .ticket_hit_big-buy__btn
                                button.btn-basket.btn-basket__big(href='javascript:void(0)')
                                    +icon('tick-inside')
                                    .ticket_hit_big-buy__btn-text Купить
                .products-hit__teaser
                    .products-hit__teaser-item
                        .ticket_hit
                            .ticket_hit-product
                                img.ticket_hit-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_hit-product__discount -15%
                            .ticket_hit-header
                                .ticket_hit-header__text Pro Box
                                .ticket_hit-header__rating
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                            .ticket_hit-title Гроубокс 120-Apollo10

                            .ticket_hit-buy
                                .ticket_hit-buy__price
                                    .ticket_hit-buy__price-old 60 200р
                                    .ticket_hit-buy__price-new 58 915р
                                .ticket_hit-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_hit-buy__btn-text Купить
                    .products-hit__teaser-item
                        .ticket_hit
                            .ticket_hit-product
                                img.ticket_hit-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_hit-product__discount -15%
                            .ticket_hit-header
                                .ticket_hit-header__text Pro Box
                                .ticket_hit-header__rating
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                            .ticket_hit-title Гроубокс 120-Apollo10
                            .ticket_hit-buy
                                .ticket_hit-buy__price
                                    .ticket_hit-buy__price-old 60 200р
                                    .ticket_hit-buy__price-new 58 915р
                                .ticket_hit-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_hit-buy__btn-text Купить
                    .products-hit__teaser-item
                        .ticket_hit
                            .ticket_hit-product
                                img.ticket_hit-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_hit-product__discount -15%
                            .ticket_hit-header
                                .ticket_hit-header__text Pro Box
                                .ticket_hit-header__rating
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                            .ticket_hit-title Гроубокс 120-Apollo10
                            .ticket_hit-buy
                                .ticket_hit-buy__price
                                    .ticket_hit-buy__price-old 60 200р
                                    .ticket_hit-buy__price-new 58 915р
                                .ticket_hit-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_hit-buy__btn-text Купить
                    .products-hit__teaser-item
                        .ticket_hit
                            .ticket_hit-product
                                img.ticket_hit-product__img(src='static/img/content/growbox.png' alt='')
                                .ticket_hit-product__discount -15%
                            .ticket_hit-header
                                .ticket_hit-header__text Pro Box
                                .ticket_hit-header__rating
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                                    span.ticket_hit-header__rating-span ☆
                            .ticket_hit-title Гроубокс 120-Apollo10 000000000000000000000000
                            .ticket_hit-buy
                                .ticket_hit-buy__price
                                    .ticket_hit-buy__price-old 60 200р
                                    .ticket_hit-buy__price-new 58 915р
                                .ticket_hit-buy__btn
                                    button.btn-basket(href='javascript:void(0)')
                                        +icon('tick-inside')
                                        .ticket_hit-buy__btn-text Купить

