// товары для аута
.container-fluid.out-block
    .container
        .products_out
            .products_out__text
                .products_out__text-title Товары для аута
                a.products_out__text-all(href='javascript:void(0)') Все товары
            .products_out__teaser
                .products_out__teaser-item
                    .ticket_out
                        .ticket_out-header
                            .ticket_out-header__text Pro Box
                            .ticket_out-header__rating
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                        a.ticket_out-title Гроубокс 120-Apollo10
                        a.ticket_out-product
                            img.ticket_out-product__img(src='static/img/content/growbox.png' alt='')
                            .ticket_out-product__discount -15%
                        .ticket_out-buy
                            .ticket_out-buy__price
                                .ticket_out-buy__price-old 60 200р
                                .ticket_out-buy__price-new 58 915р
                            .ticket_out-buy__btn
                                button.btn-basket(href='javascript:void(0)')
                                    +icon('tick-inside')
                                    .ticket_out-buy__btn-text Купить
                .products_out__teaser-item
                    .ticket_out
                        .ticket_out-header
                            .ticket_out-header__text Pro Box
                            .ticket_out-header__rating
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                        a.ticket_out-title Гроубокс 120-Apollo10
                        a.ticket_out-product
                            img.ticket_out-product__img(src='static/img/content/growbox.png' alt='')
                            .ticket_out-product__discount -15%
                        .ticket_out-buy
                            .ticket_out-buy__price
                                .ticket_out-buy__price-old 60 200р
                                .ticket_out-buy__price-new 58 915р
                            .ticket_out-buy__btn
                                button.btn-basket(href='javascript:void(0)')
                                    +icon('tick-inside')
                                    .ticket_out-buy__btn-text Купить
                .products_out__teaser-item
                    .ticket_out
                        .ticket_out-header
                            .ticket_out-header__text Pro Box
                            .ticket_out-header__rating
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                        a.ticket_out-title Гроубокс 120-Apollo10
                        a.ticket_out-product
                            img.ticket_out-product__img(src='static/img/content/growbox.png' alt='')
                            .ticket_out-product__discount -15%
                        .ticket_out-buy
                            .ticket_out-buy__price
                                .ticket_out-buy__price-old 60 200р
                                .ticket_out-buy__price-new 58 915р
                            .ticket_out-buy__btn
                                button.btn-basket(href='javascript:void(0)')
                                    +icon('tick-inside')
                                    .ticket_out-buy__btn-text Купить
                .products_out__teaser-item
                    .ticket_out
                        .ticket_out-header
                            .ticket_out-header__text Pro Box
                            .ticket_out-header__rating
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                                span.ticket_out-header__rating-span ☆
                        a.ticket_out-title Гроубокс 120-Apollo10
                        a.ticket_out-product
                            img.ticket_out-product__img(src='static/img/content/growbox.png' alt='')
                            .ticket_out-product__discount -15%
                        .ticket_out-buy
                            .ticket_out-buy__price
                                .ticket_out-buy__price-old 60 200р
                                .ticket_out-buy__price-new 58 915р
                            .ticket_out-buy__btn
                                button.btn-basket(href='javascript:void(0)')
                                    +icon('tick-inside')
                                    .ticket_out-buy__btn-text Купить
