// Информация о магазине
.container-fluid
    .container.partner
        .partner-box
            .partner-box__title Наши партнеры
            .partner-box__slide
                .partner-box__slide-item
                    img(src='static/img/content/e-mod.png' alt='')
                .partner-box__slide-item
                    img(src='static/img/content/e-mod.png' alt='')
                .partner-box__slide-item
                    img(src='static/img/content/e-mod.png' alt='')
                .partner-box__slide-item
                    img(src='static/img/content/e-mod.png' alt='')
                .partner-box__slide-item
                    img(src='static/img/content/e-mod.png' alt='')
                .partner-box__slide-item
                    img(src='static/img/content/e-mod.png' alt='')
                .partner-box__slide-item
                    img(src='static/img/content/e-mod.png' alt='')