//главная страница
//primari-block
.container-fluid
    .container.primary-block
        .menu-nav__index
            include ../../modules/menu-nav
        .section-block__ad
            include primary-block/teaser
            include primary-block/products-teaser


