//подписаться
.subscribe-block
  background-color greenDG
  min-height 185px
  overflow hidden
  align-items center
  display flex

  &__cont
    position relative

.subscribe-box
  padding-left 225px
  display flex
  justify-content space-between
  align-items center

  &__left
    font-size rem(36px)
    font-family HelveBold
    color white
    width 50%

    @media screen and (max-width bigPhoneWidth)
      font-size rem(25.5px)

    &-span
      border-bottom 4px solid white

      @media screen and (max-width bigPhoneWidth)
        border-bottom 3px solid white

  &__right
    align-items center

    &-sbc
      display flex

    &-input
      size (285px 40px)
      border-radius 2px
      border none
      padding 0 25px
      margin-right 10px
      font-weight bold

      &::placeholder
        color greyTextDG

    &-policy
      display flex
      margin-top 10px
      align-items flex-start

    &-checkbox
      display none

      &:checked + label:before
        content: "\2713"
        font-size: 15px
        color: blackTextDG
        text-align: center
        line-height: 15px
        background-color white

    &-label
      font-size rem(12px)
      color white
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 15px;
      max-width 305px

      &:before
        content: ""
        display: inline-block
        size (15px)
        margin-right: 10px
        position(absolute, 1px, 0, 0, 0)
        background-color: white
        border-radius 2px



