// Отзывы
.container-fluid.reviews_block
    .container.reviews_box
        .reviews_message
            .reviews_message__detail
                .reviews_message__detail-title trofim80056
                .reviews_message__detail-descr Всем привет,заказывал здесь в первый раз и как оказалось не зря! пришло всё быстро,упаковка отличная,всем советую заказывать и не боятся за свои кровные;) магазин пять баллов,успехов вам!
            .reviews_message__detail
                .reviews_message__detail-title trofim80056
                .reviews_message__detail-descr Всем привет,заказывал здесь в первый раз и как оказалось не зря! пришло всё быстро,упаковка отличная,всем советую заказывать и не боятся за свои кровные;) магазин пять баллов,успехов вам!
        .reviews_all
            .reviews_all__star
                span.reviews_all__star-span ☆
                span.reviews_all__star-span ☆
                span.reviews_all__star-span ☆
                span.reviews_all__star-span ☆
                span.reviews_all__star-span ☆
                .reviews_all__date 11.07.2018
            button.btn-green Все отзывы

