//подписаться на акции

.container-fluid.subscribe-block-stock
    .container.subscribe-block-stock__cont
        object.logo-big(type="image/svg+xml" data="static/img/general/logo.svg")
        .subscribe-stock
            .subscribe-stock__left
                span.subscribe-stock__left-span Будь в курсе
            .subscribe-stock__left-second Подпишитесь на последние обновления и узнавайте о новинках и специальных предложениях первыми
            form.subscribe-stock__right
                .subscribe-stock__right-sbc
                    input.subscribe-stock__right-input(placeholder='Ваш почтовый адрес')
                    button.btn-subscribe Подписаться
                .subscribe-stock__right-policy
                    input.subscribe-stock__right-checkbox#checkbox_sbc-news(type='checkbox')
                    label(for='checkbox_sbc-news').subscribe-stock__right-label Я согласен на обработку персональных данных,<br>а также с условиями подписки
                button.btn-subscribe__small Подписаться


