.menu-nav
    .menu-nav__border
        .menu-nav__item Гроубоксы
            +icon('arrow-point', 'subcategor')
            .menu-nav__item-sub
                .menu-nav__item-sub-border
                    .menu-nav__item-sub-element Маленькие
                .menu-nav__item-sub-border
                    .menu-nav__item-sub-element Средние
                .menu-nav__item-sub-border
                    .menu-nav__item-sub-element.menu-nav__item-sub-element-last Большие
    .menu-nav__border
        .menu-nav__item Гидропонные системы
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Удобрения
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Освещение
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Полив
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Очистка воздуха
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Автоматизация
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Аксессуары
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Гроубоксы
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Гидропонные системы
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Удобрения
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Освещение
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Полив
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Очистка воздуха
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Автоматизация
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Аксессуары
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Полив
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Очистка воздуха
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item Автоматизация
            +icon('arrow-point', 'subcategor')
    .menu-nav__border
        .menu-nav__item.menu-nav__item-last Аксессуары
            +icon('arrow-point', 'subcategor')