//products-teaser
.products_ad
    .products_ad__text
        .products_ad__text-title Готовые гроубоксы
        a.products_ad__text-all(href='javascript:void(0)') Все товары
    .products_ad__teaser
        .products_ad__teaser-item
            .ticket_ad
                .ticket_ad-header
                    .ticket_ad-header__text Pro Box
                    .ticket_ad-header__rating
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span.rating__half ☆
                        span.ticket_ad-header__rating-span.rating__fill ☆
                        span.ticket_ad-header__rating-span.rating__fill ☆
                a.ticket_ad-title(onclick="window.location='product.html';") Гроубокс 120-Apollo10
                a.ticket_ad-product
                    img.ticket_ad-product__img(src='static/img/content/growbox.png' alt='' onclick="window.location='product.html';")
                    .ticket_ad-product__discount -15%
                .ticket_ad-buy
                    .ticket_ad-buy__price
                        .ticket_ad-buy__price-old 60 200р
                        .ticket_ad-buy__price-new 58 915р
                    .ticket_ad-buy__btn
                        button.btn-basket(href='javascript:void(0)')
                            +icon('tick-inside')
                            .ticket_ad-buy__btn-text Купить
        .products_ad__teaser-item
            .ticket_ad
                .ticket_ad-header
                    .ticket_ad-header__text Pro Box
                    .ticket_ad-header__rating
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                a.ticket_ad-title Гроубокс 120-Apollo10
                a.ticket_ad-product
                    img.ticket_ad-product__img(src='static/img/content/growbox.png' alt='')
                    .ticket_ad-product__discount -15%
                .ticket_ad-buy
                    .ticket_ad-buy__price
                        .ticket_ad-buy__price-old 60 200р
                        .ticket_ad-buy__price-new 58 915р
                    .ticket_ad-buy__btn
                        button.btn-basket(href='javascript:void(0)')
                            +icon('tick-inside')
                            .ticket_ad-buy__btn-text Купить
        .products_ad__teaser-item
            .ticket_ad
                .ticket_ad-header
                    .ticket_ad-header__text Pro Box
                    .ticket_ad-header__rating
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                a.ticket_ad-title Гроубокс 120-Apollo10
                a.ticket_ad-product
                    img.ticket_ad-product__img(src='static/img/content/growbox.png' alt='')
                    .ticket_ad-product__discount -15%
                .ticket_ad-buy
                    .ticket_ad-buy__price
                        .ticket_ad-buy__price-old 60 200р
                        .ticket_ad-buy__price-new 58 915р
                    .ticket_ad-buy__btn
                        button.btn-basket(href='javascript:void(0)')
                            +icon('tick-inside')
                            .ticket_ad-buy__btn-text Купить
        .products_ad__teaser-item
            .ticket_ad
                .ticket_ad-header
                    .ticket_ad-header__text Pro Box
                    .ticket_ad-header__rating
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                        span.ticket_ad-header__rating-span ☆
                a.ticket_ad-title Гроубокс 120-Apollo10
                a.ticket_ad-product
                    img.ticket_ad-product__img(src='static/img/content/growbox.png' alt='')
                    .ticket_ad-product__discount -15%
                .ticket_ad-buy
                    .ticket_ad-buy__price
                        .ticket_ad-buy__price-old 60 200р
                        .ticket_ad-buy__price-new 58 915р
                    .ticket_ad-buy__btn
                        button.btn-basket(href='javascript:void(0)')
                            +icon('tick-inside')
                            .ticket_ad-buy__btn-text Купить
