.teaser
    .teaser__big
        img.teaser__big-img(src='static/img/content/image1.png' alt='')
        button.teaser__big-button(href="javascript:void(0)") Подробнее
    .teaser__small
        .teaser__small-right
            img.teaser__small-right-img(src='static/img/content/image3.png' alt='')
            button.teaser__small-right-button(href="javascript:void(0)") Читать книгу
        .teaser__small-right
            img.teaser__small-right-img(src='static/img/content/image2.png' alt='')
            button.teaser__small-right-button-bottom(href="javascript:void(0)") Посмотреть все скидки дня!
