//phone
.container-fluid.teaser-phone-block
    .teaser-phone.single-item
        .teaser-phone__item
            img.teaser-phone__item-img(src='static/img/content/image1.png' alt='')
            button.teaser-phone__item-button-yellow(href="javascript:void(0)") Подробнее
        .teaser-phone__item
            img.teaser-phone__item-img(src='static/img/content/image3.png' alt='')
            button.teaser-phone__item-button-green(href="javascript:void(0)") Читать книгу
        .teaser-phone__item
            img.teaser-phone__item-img(src='static/img/content/image2.png' alt='')
            button.teaser-phone__item-button-black(href="javascript:void(0)") Посмотреть все скидки дня!

