.icon-arrow-point
  fill greyTextDG

.arrow-point-city
  size (8px)
  transform: rotate(90deg)
  margin 6px 0 0 5px

.subcategor
  size (12px)
  opacity 0.5

.arrow-point-more
  size (10px)
  fill greenDG
  margin 2px 0 0 7px
  transform: rotate(90deg)

.arrow-point-more__white
  @extend .arrow-point-more
  fill white

.arrow-point__reviews-right
  size (30px)
  margin 55px 0 0 0

.arrow-point__reviews-left
  @extend .arrow-point__reviews-right
  transform rotate(180deg)

//icon статьи
.arrow-art
  size (10px)
  fill greenDG

//icon price
.arrow-point-price
  @extend .arrow-point-more
  fill blackTextDG

//страница контактов
.contacts-arrow
  size (30px)
  fill white
  margin-left 15px

//результаты поиска, фильтр
.arrow-point-filter
  transform rotate(90deg)
  size (10px)
  fill blackTextDG

//поиск по faq
.arrow-point-faq
  @extend .arrow-point-more
  fill greyTextDGdark

//больше мои заказы
.arrow-point-order
  @extend .arrow-point-more
  margin 0
