.icon-basket

.basket-header
  fill greenDG
  size (30px)
  opacity 0.5

.basket-header-media
  @extend .basket-header

  @media screen and (max-width bigPhoneWidth)
    size (25px)

.basret-btn-product
  fill white
  opacity 1
  margin 0 5px
  size (20px)

  @media screen and (max-width smallPhoneWidth)
    size (10px)