.icon-close
  fill greyDGdark

.close-city
  position (absolute 10px 10px none none)
  size (20px)

.close-basket
  @extend .close-city
  top 35px
  right 30px

.close-header-media
  size (25px)
  fill greenDG

.close-catalog
  size (15px)