.icon-search

.search-header
  size (20px)
  fill white

  @media screen and (max-width bigPhoneWidth)
    padding 5px 10px

.search-footer
  @extend .search-header
  background-color white
  fill greyDGdark
  padding 10px
  size (40px)
  border-radius: 0 3px 3px 0

.search-header-media
  background-color white
  fill greenDG
  opacity 0.5
  padding 0
  size (25px)
  margin-right 10px

  @media screen and (max-width bigPhoneWidth)
    size (20px)

.search-header-media-open
  @extend .search-header
  padding 10px 10px
