.icon-search

.search-header
  size (70px 40px)
  background-color greenDG
  fill white
  padding 10px 25px
  border-radius: 0 3px 3px 0

  @media screen and (max-width bigPhoneWidth)
    padding 5px 10px

.search-footer
  @extend .search-header
  background-color white
  fill greyDGdark
  padding 10px

.search-header-media
  background-color white
  fill greenDG
  opacity 0.5
  padding 0
  size (25px)
  margin-right 10px

  @media screen and (max-width bigPhoneWidth)
    size (20px)

.search-header-media-open
  @extend .search-header
  padding 10px 10px
