.social
  size (20px)
  background-color greenDG
  fill white
  padding 4px
  margin-right 5px
  border-radius 4px

.social-footer
  fill greyDG
  size (17px)

.tube-yt
  fill white
  size (80px)

//icon color
.social-color
  size (30px)
  margin-right 5px

  @media screen and (max-width bigPhoneWidth)
    size (20px)

.icon-vk-color
  fill #48729e

.icon-fb-color
  fill #3b5998

.icon-ggp-color
  fill #dc4e41

.icon-tw-color
  fill #00aced

.icon-tg-color
  fill #64a9dc

.icon-vb-color
  fill #7b519d

.icon-en-color
  fill #24d666

.icon-ok-color
  fill #eb722e
